/** global style **/

/** Tooltip **/
.tooltip {
	-fx-background-color: #dee482;
    -fx-text-fill: #000000;
    -fx-padding: 5;
}

/** Action **/
.action {
	-fx-background-color: #98e0cf;
    -fx-text-fill: #000000;
    -fx-padding: 5;	
}

/** Autocompleter **/
.list .list-cell:filled:selected:focused, .list .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list .list-cell {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.list .list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}


/** Secondary menu **/
.secondarymenu .list-cell:filled:selected:focused, .secondarymenu .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.secondarymenu .list-cell {
    -fx-background-color: #cfced0;
    -fx-text-fill: black;
}

.secondarymenu .list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

