/** global style **/
.code-area {
    /**/
    background-color: rgb(0,0,0);
     background-color: rgb(255,255,255);
	background-color: rgb(255, 0, 102);
	background-color: rgb(113, 97, 76);
	background-color: rgb(88, 101, 138);
	background-color: rgb(64, 78, 97);
	

		
    line-height:1.25;
    font-size:12px;
}

.grid {
	-fx-border-color: #2e8b57;
    -fx-border-width: 1px;
    -fx-border-style: dotted;
}

/** Tooltip **/
.tooltip {
	-fx-background-color: #dee482;
    -fx-text-fill: #000000;
    -fx-padding: 5;
}

/** Action **/
.action {
	-fx-background-color: #98e0cf;
    -fx-text-fill: #000000;
    -fx-padding: 5;	
}

/** Autocompleter **/
.autolist .list-cell:filled:selected:focused, .autolist .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.autolist .list-cell {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.autolist .list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}


/** Secondary menu **/
.secondarymenu .list-cell:filled:selected:focused, .secondarymenu .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.secondarymenu .list-cell {
    -fx-background-color: #cfced0;
    -fx-text-fill: black;
}

.secondarymenu .list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}
/**
name-type-priority
**/

/** default style of text **/
.default-fill-1 { color: white;  }

/** Errors **/
.error-underline-1 {  border-bottom: solid 1px red; }

/** selection **/
.selected-background-1 { background-color:#829999; }
